:root {
    --container-width: 1432px;
    --container-padding: 16px;
    --section-mb: 56px;

    --ff-base: 'Namu', sans-serif;
    --ff-sec: 'Audiowide', sans-serif;
    --ff-alt: 'Gilroy', sans-serif;
    --ff-pixel: 'Grotesk', sans-serif;

    --dark-color: #081116;
    --white-color: #fff;
    --accent-color: #325fec;
    --accent-light: #508fff;
}

@media (min-width: 577px) {
    :root {
        --container-padding: 40px;
        --section-mb: 48px;
    }
}

@media (min-width: 992px) {
    :root {
        --container-padding: 80px;
        --section-mb: 80px;
    }
}
