@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--about {
    .partners {
        margin-bottom: var(--section-mb);
        &__head {
            margin-bottom: 32px;
            @include media('laptop-above') {
                margin-bottom: 40px;
                display: flex;
                align-items: flex-start;
                gap: 20px;
            }
        }

        &__col {
            @include media('laptop-above') {
                width: 50%;
            }
        }

        &__text {
            font: 800 15px / 150% var(--ff-base);
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
            border: 1px solid #fff;
        }

        &__item {
            width: 100%;
            padding: 43px 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:not(:nth-last-child(-n + 3)) {
                border-bottom: 1px solid #fff;
            }

            &:not(:nth-child(3n)) {
                border-right: 1px solid #fff;
            }

            img {
                max-width: 95px;
                @include media('tablet-above') {
                    max-width: 164px;
                }
            }
        }
    }
}
