@use '../../base/media' as *;
@use '../../base/mixins' as *;

.news-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-bottom: 20px;
    @include media('laptop-above') {
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
    }
}
