@use '../../base/media' as *;
@use '../../base/mixins' as *;

.stages-list {
    counter-reset: item;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include media('laptop-above') {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
        }

        &:not(:last-child) {
            padding-block: 16px;
            border-bottom: 1px solid var(--accent-light);

            @include media('laptop-above') {
                padding-block: 24px 32px;
            }
        }

        &:first-child {
            border-top: 1px solid var(--accent-light);
        }

        &:last-child {
            padding-block: 16px 0;

            @include media('laptop-above') {
                padding-block: 24px 0;
            }
        }

        p {
            margin: 0;

            @include media('laptop-above') {
                width: 50%;
                flex: 1;
            }

            &:first-child {
                font: 800 15px / 110% var(--ff-base);
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                gap: 16px;
                counter-increment: item;

                @include media('laptop-above') {
                    font-size: 18px;
                    gap: 40px;
                }

                &::before {
                    font: 800 15px / 130% var(--ff-base);
                    content: '[' counter(item, decimal-leading-zero) ']';
                    text-transform: uppercase;
                    color: var(--accent-light);
                }
            }

            &:last-child {
                font: 800 16px / 110% var(--ff-base);
            }
        }
    }
}
