@use '../base/media' as *;
@use '../base/mixins' as *;

.footer {
    padding-block: 56px 32px;

    @include media('tablet-above') {
        padding-block: 48px 32px;
    }

    @include media('laptop-above') {
        padding-block: 120px 40px;
    }

    .container {
        padding-inline: var(--container-padding);

        @media (min-width: 577px) {
            padding-inline: var(--container-padding);
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 56px;

        @include media('tablet-above') {
            flex-direction: row;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            margin-bottom: 48px;
        }
        @include media('laptop-above') {
            gap: 64px;
            margin-bottom: 80px;
        }
    }

    &__arrow {
        background: var(--accent-color);
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @include media('laptop-above') {
            width: 180px;
            height: 180px;
        }

        svg {
            width: 40px;
            height: 40px;

            @include media('laptop-above') {
                width: 80px;
                height: 80px;
            }
        }
    }

    &__title {
        font: 800 32px / 120% var(--ff-base);
        text-transform: uppercase;

        span {
            color: var(--accent-color);
        }

        @include media('laptop-above') {
            font-size: 63px;
        }
    }

    &__subtitle {
        font: 800 24px / 120% var(--ff-base);
        text-transform: uppercase;
    }

    &__logo {
        display: flex;
        flex-shrink: 0;
        max-width: 218px;
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include media('laptop-above') {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

    &__menus {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include media('tablet-above') {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            gap: 10px;
        }

        @include media('laptop-above') {
            max-width: 813px;
            margin-bottom: 40px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &:nth-child(2) {
            .footer__list {
                max-width: 153px;
                li {
                    text-transform: inherit;
                    line-height: 150%;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            font: 800 15px / 90% var(--ff-base);
            text-transform: uppercase;

            a {
                @include transitions(0.2s, ease-in);
            }

            &:hover a {
                color: var(--accent-color);
            }
        }
    }

    &__info {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-top: 1px solid #fff;
        @include media('laptop-above') {
            padding-top: 40px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__copy {
        font: 800 18px / 30px var(--ff-base);
    }

    &__legals {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include media('laptop-above') {
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        li:not(:first-child) {
            display: flex;
            align-items: center;
            gap: 10px;
            &::before {
                content: '|';
            }
        }

        a {
            font: 800 18px / 30px var(--ff-base);
            @include transitions(0.2s, ease-in);
            @include hover {
                color: var(--accent-color);
            }
        }

        span {
            display: none;
            @include media('laptop-above') {
                display: block;
            }
        }
    }
}
