@use '../base/media' as *;
@use '../base/mixins' as *;

.header {
    z-index: 6;
    padding-block: 16px;
    position: fixed;
    width: 100%;
    background: var(--dark-color);


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__logo {
        display: flex;
        flex-shrink: 0;
        max-width: 136px;
        img {
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 8px;
        @include media('laptop-above') {
            gap: 40px;
        }
    }

    &__lang {
        position: relative;
        padding: 10px 8px;

        &.is-active {
            li:last-child {
                opacity: 1;
                visibility: visible;
            }
        }

        li {
            &:last-child {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                padding: 12px 16px;
                border-radius: 12px;
                left: -20px;
                top: 100%;
                box-shadow: 0px 2px 10px 1px #508fff26;
                background: var(--dark-color);
                @include transitions(0.3s, ease-in);
            }
        }
        a {
            font: 800 15px / 90% var(--ff-base);
            text-transform: uppercase;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 8px;
        }
    }

    &__panel {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__list {
        display: none;
        @include media('laptop-above') {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;

            a {
                font: 800 15px / 90% var(--ff-base);
                text-transform: uppercase;
                @include transitions(.2s, ease-in);
                @include hover {
                    color: var(--accent-color);
                }

                &.is-active {
                    color: var(--accent-color);
                }
            }
        }
    }

    &__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 44px;
        height: 44px;

        @include media('laptop-above') {
            display: none;
        }

        span {
            width: 18px;
            height: 2px;
            display: inline-block;
            flex-shrink: 0;
            position: relative;
            background: #fff;
            @include transitions(0.3s, ease-in);

            &::after,
            &::before {
                content: '';
                position: absolute;
                background: #fff;
                width: 18px;
                height: 2px;
                left: 0;
                @include transitions(0.3s, ease-in);
            }

            &::after {
                top: 4px;
            }
            &::before {
                bottom: 4px;
            }
        }

        &.is-transform {
            span {
                width: 0;

                &::after {
                    transform: translateX(-50%) rotate(45deg);
                    top: 0;
                }
                &::before {
                    transform: translateX(-50%) rotate(-45deg);
                    bottom: 0;
                }
            }
        }
    }
}
