@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .knows {
        position: relative;
        overflow: hidden;

        .container {
            @include media('laptop-above') {
                display: flex;
                align-items: flex-start;
                gap: 20px;
            }
        }

        &__col {
            @include media('laptop-above') {
                width: 50%;
            }
        }

        &__bg {
            max-width: 1300px;
            height: 713px;
            width: 100%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            pointer-events: none;
            transform: translate(-50%, -50%);
        }

        &__title {
            margin-bottom: 24px;
        }

        p {
            font: 800 15px / 150% var(--ff-base);
        }

        &__details {
            padding-block: 20px;
            display: inline-flex;
            align-items: center;
            gap: 16px;
            @include hover {
                svg {
                    transform: translateX(5px);
                }
            }

            span {
                font: 800 18px / 130% var(--ff-base);
                text-transform: uppercase;
            }

            svg {
                display: flex;
                flex-shrink: 0;
                @include transitions(0.2s, ease-in);
            }
        }

        &__stats {
            padding-top: 32px;

            @include media('laptop-above') {
                padding-top: 40px;
            }
        }
    }
}
