@use '../../base/media' as *;
@use '../../base/mixins' as *;

.other {
    &--catalog {
        margin-bottom: var(--section-mb);
        .other__title {
            @include media('laptop-above') {
                margin-bottom: 40px;
            }
        }
        .catalog-cards {
            @include media('laptop-above') {
                grid-template-columns: repeat(4, 1fr);

                .catalog-cards__cta {
                    display: none;
                }

                &__title {
                    font-size: 18px;
                    left: 20px;
                    top: 35px;

                    &::before {
                        font-size: 15px;
                    }
                }
            }

            &__title {
                max-width: 80%;
            }

            &__item {
                @include media('tablet-above') {
                    height: 320px;
                }

                @include media('laptop-above') {
                    grid-column: span 1;
                    height: 300px;
                }

                &:first-child {
                    background: #fff;

                    .catalog-cards__title {
                        color: var(--dark-color);
                    }

                    .catalog-cards__thumb {
                        &--hover {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    @include hover {
                        background: var(--accent-color);
                        .catalog-cards__title {
                            color: #fff;
                        }

                        .catalog-cards__thumb {
                            &--hover {
                                opacity: 0;
                                visibility: hidden;
                            }

                            &--default {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
