@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--catalog {
    .filter {
        &__btns {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 24px;
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__btn {
            font: 800 15px / 150% var(--ff-base);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            padding: 10px 15px;
            border: 1px solid #fff;
            color: #fff;
            @include transitions(0.2s, ease-in);

            @include media('laptop-above') {
                padding: 24px;
            }

            &:first-child {
                text-transform: uppercase;
            }

            &.is-active {
                background: var(--accent-light);
                border-color: var(--accent-light);
            }
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
            margin-bottom: 32px;

            @include media('tablet-above') {
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 16px;
            }

            @include media('laptop-above') {
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
            }
        }

        &__more {
            font: 800 18px / 130% var(--ff-base);
            text-transform: uppercase;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-bottom: 32px;
            border: 1px solid #fff;
            color: #fff;
            background: transparent;
            @include transitions(0.2s, ease-in);
            @include hover {
                background: var(--accent-light);
                border-color: var(--accent-light);
            }
            @include media('laptop-above') {
                padding: 19px;
            }
        }

        &__pagination {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            &-control {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            &-main {
                display: none;
                @include media('laptop-above') {
                    font: 800 18px / 130% var(--ff-base);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    padding: 19px;
                    border: 1px solid var(--accent-light);
                    @include transitions(0.2s, ease-in);
                    @include hover {
                        background: var(--accent-light);
                    }
                }
            }

            &-btns {
                display: flex;
                align-items: center;
                gap: 2px;
            }

            &-btn {
                font: 800 15px / 150% var(--ff-base);
                text-transform: uppercase;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                color: #fff;
                @include transitions(0.2s, ease-in);
                @include media('laptop-above') {
                    width: 40px;
                    height: 40px;
                }

                &.is-active {
                    background: var(--accent-light);
                }
            }

            &-prev,
            &-next {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 44px;
                height: 44px;
                @include transitions(0.2s, ease-in);
                @include media('laptop-above') {
                    width: 63px;
                    height: 63px;
                }

                &.is-active {
                    background: var(--accent-light);
                }
            }
        }
    }
}
