@use '../../base/media' as *;
@use '../../base/mixins' as *;

.filter {
    &--catalog {
        .filter__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;
            margin-bottom: 32px;

            @include media('tablet-above') {
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 16px;
            }

            @include media('laptop-above') {
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;
            }
        }
    }
}
