@use '../../base/media' as *;
@use '../../base/mixins' as *;

.char {
    &--product {
        .char__title {
            span {
                color: var(--accent-light);
            }

            @include media('laptop-above') {
                margin-bottom: 40px;
            }
        }

        .char__link {
            span:first-child {
                @include media('laptop-above') {
                    padding: 20px;
                }
            }
        }
    }
}
